doctype html
html
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        title= title
        link(rel='stylesheet', href='/libs/bootstrap/dist/css/bootstrap.css')
        link(rel='stylesheet', href='/stylesheets/layout.css')
        link(rel='stylesheet', href='/stylesheets/basic.css')
        block css
        script(src="/libs/jquery/dist/jquery.min.js")
    body
        .wrapper
            header.top-nav
                .brand 正广通
                .header
                    button(type="button")
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                .userinfo
                    a
                        image(src="/images/avatar1.png")
                    ul.userinfodrop
                        li
                            span 帐号
                            span #{user.uid}
                        li
                            span 姓名
                            span #{user.name}
                        li
                            span 邮箱
                            span #{user.email}
                        li
                            a(href="/users/logout") 登出
            aside.sidebar-menu
                ul
                    li.basic(class=pid == 1 ? 'active' : '')
                        .menu-block
                        .menu-icon
                            icon.glyphicon.glyphicon-book
                        .menu-text
                            a 基础资料
                        ul.menu-list
                            li(class=subid == 11 ? 'active' : '', data-menu="11")
                                a 用户列表
                            li(class=subid == 12 ? 'active' : '', data-menu="12")
                                a 子公司
                            li(class=subid == 13 ? 'active' : '', data-menu="13")
                                a 加盟商
                            li(class=subid == 14 ? 'active' : '', data-menu="14")
                                a 客户
                            li(class=subid == 15 ? 'active' : '', data-menu="15")
                                a 线路报价
                    li.order(class=pid == 2 ? 'active' : '')
                        .menu-block
                        .menu-icon
                            icon.glyphicon.glyphicon-th-list
                        .menu-text
                            a 运单管理
                        ul.menu-list
                            li(class=subid == 21 ? 'active' : '', data-menu="21")
                                a 运单列表
            .main-container
                - if (breadcrumb)
                    ol.breadcrumb
                        each item in breadcrumb
                            li= item
                block content
        script(src="/libs/bootstrap/dist/js/bootstrap.min.js")
        script(src="/libs/jquery/dist/jquery.validate.min.js")
        script(src="/javascripts/layout.js")